{% extends '_template/base.html.twig' %}

{% block css %}
<link rel="stylesheet" href="assets/css/gestionEvenement.css">
{% endblock %}

{% block body %}
<div class="evenement-container">
    <!-- Partie droite : Détails de l'événement -->
    <div class="evenement-left evenement-right">
        <h2 class="section-title">Nom :</h2>
        <div class="form-group">
            <input type="text" class="form-control" value="{{ selectedEvenement.nomEvent }}" placeholder="Nom de l'événement">
        </div>
        <h2 class="section-title">Description :</h2>
        <div class="form-group">
            <textarea class="form-control" rows="5" placeholder="Description de l'événement">{{ selectedEvenement.descEvent }}</textarea>
        </div>
        <h2 class="section-title">Date :</h2>
        <div class="form-group">
            <input type="date" class="form-control" value="{{ selectedEvenement.dateEvent|date('Y-m-d') }}">
        </div>
        <h2 class="section-title">Lieu :</h2>
        <div class="form-group">
            <input type="text" class="form-control" value="{{ selectedEvenement.lieuEvent }}" placeholder="Lieu de l'événement">
        </div>
        <h2 class="section-title">Prix :</h2>
        <div class="form-group">
            <input type="number" step="0.01" class="form-control" value="{{ selectedEvenement.prixEvent }}" placeholder="Prix de l'événement">
        </div>
        <h2 class="section-title">Image :</h2>
        <div class="form-group">
            <input type="file" class="form-control">
        </div>
        <button class="btn btn-success">Enregistrer</button>
    </div>
</div>
{% endblock %}
