{% extends '_template/base.html.twig' %}

{% block css %}
<link rel="stylesheet" href="assets/css/produit.css">
{% endblock %}

{% block body %}
<div class="product-form-container">
	<h2 class="form-title">
		{% if data.idProd is defined %}Modifier un Produit{% else %}Créer un Produit{% endif %}
	</h2>
	<form method="POST" enctype="multipart/form-data" class="product-form">
		<!-- Image du produit -->
		<div class="form-group image-preview">
			<label for="imgProd" class="image-label">
				<img src="assets/images/boutique/{{ data.imgProd|default('placeholder.png') }}" alt="Ajouter une image" id="imagePreview">
			</label>
			<input type="file" id="imgProd" name="imgProd" accept="image/*" onchange="previewImage(event)" hidden>
		</div>

		<!-- Identifiant du produit -->
		<div class="form-group d-none">
			<label for="idProd">Identifiant du produit :</label>
			<input type="text" id="idProd" name="idProd" value="{{ data.idProd|default('') }}" readonly>
		</div>

		<!-- Intitulé du produit -->
		<div class="form-group">
			<label for="nomProd">Nom du produit :</label>
			<input type="text" id="nomProd" name="nomProd" value="{{ data.nomProd|default('') }}" required>
		</div>

		<!-- Prix du produit -->
		<div class="form-group">
			<label for="prixProd">Prix :</label>
			<input type="number" step="0.01" id="prixProd" name="prixProd" value="{{ data.prixProd|default('0') }}" min="0" required>
		</div>

		<!-- Identifiant du produit -->
		<div class="form-group">
			<label for="idProd">Quantité en stock :</label>
			<input type="number" id="qs" name="qs" value="{{ data.qs|default('0') }}" min="0" required>
		</div>

		<!-- Bouton de mise à jour -->
		<div class="form-group">
			<button type="submit" class="btn btn-primary">{{data.bouton}}</button>
		</div>

		<!-- Affichage des erreurs -->
		{% if errors is not empty %}
			<div class="error-messages">
				<ul>
					{% for error in errors %}
						<li>{{ error }}</li>
					{% endfor %}
				</ul>
			</div>
		{% endif %}
	</form>
</div>
{% endblock %}

{% block javascript %}
<script src="assets/js/gestionImages.js"></script>
{% endblock %}
