{% extends '_template/base.html.twig' %}

{% block body %}

	{% if (isAdmin) %}
		<div class="container mt-5">
			<h2 class="text-center mb-4">Liste des Produits</h2>
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th scope="col">#ID</th>
						<th scope="col">Nom</th>
						<th scope="col">Stock</th>
						<th scope="col">Prix</th>
						<th scope="col">Image</th>
						<th scope="col">Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for error in errors %}
						<tr>
							<td colspan="6" class="text-danger text-center">
								{{ error }}
							</td>
						</tr>
					{% endfor %}
					{% for produit in produits|sort((a, b) => a.idProd <=> b.idProd) %}
						<tr>
							<td>{{ produit.idProd }}</td>
							<td>{{ produit.nomProd }}</td>
							<td>{{ produit.qs }}</td>
							<td>{{ produit.prixProd | number_format(2, ',', ' ') }} €</td>
							<td>
								<img src="assets/images/boutique/{{ produit.imgProd }}" alt="{{ produit.nomProd }}" style="width: 50px; height: 50px; object-fit: cover;">
							</td>
							<td>
								<a href="produit_update.php?idProd={{ produit.idProd }}" class="btn btn-warning btn-sm">
									<i class="fa fa-edit"></i> Modifier
								</a>
								<a href="produit_delete.php?idProd={{ produit.idProd }}" class="btn btn-danger btn-sm">
									<i class="fa fa-trash"></i> Supprimer
								</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<div class="d-flex flex-row-reverse">
				<a href="produit_create.php" class="btn btn-success">
					<i class="fa fa-plus"></i> Ajouter un produit
				</a>
			</div>
		</div>
	{% else %}
		<h1>Erreur 404</h1>
		<h2>Not found</h2>
		<p>La page que vous essayer d'accéder n'existe pas</p>
	{% endif %}
{% endblock %}
