{% extends '_template/base.html.twig' %}

{% block body %}

<div class="container mt-5 col-md-12 mx-auto">
    <h2 class="text-center mb-4">Liste des Utilisateurs</h2>
	{% for error in errors %}
		<tr>
			<td colspan="6" class="text-danger text-center">
				{{ error }}
			</td>
		</tr>
	{% endfor %}
    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th scope="col"># Netud</th>
                <th scope="col">Nom</th>
				<th scope="col">Prénom</th>
                <th scope="col">Téléphone</th>
				<th scope="col">Email</th>
                <th scope="col">Type de Notification</th>
				<th scope="col">Role</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
			{% for utilisateur in utilisateurs|sort((a, b) => a.netud <=> b.netud) %}
				<tr>
					<td>{{ utilisateur.netud }}</td>
					<td>{{ utilisateur.nom }}</td>
					<td>{{ utilisateur.prenom }}</td>
					<td>{{ utilisateur.telephone }}</td>
					<td>{{ utilisateur.email }}</td>
					<td>{{ utilisateur.typeNotification }}</td>
					<td>{{ utilisateur.role.nomRole }}</td>
					<td>
						<a href="utilisateur_taiter.php?utilisateur_taiter.php?netud={{ utilisateur.netud }}&action=promouvoir" class="btn btn-warning btn-sm">
							Promouvoir
						</a>
						<a href="utilisateur_taiter.php?utilisateur_taiter.php?netud={{ utilisateur.netud }}&action=retrograder" class="btn btn-danger btn-sm">
							Rétrograder
						</a>
					</td>
				</tr>
			{% endfor %}
        </tbody>
    </table>
</div>

<div class="container mt-5 col-md-12 mx-auto">
	<h2 class="text-center mb-4">Liste des Demandes d'adhésions</h2>
	<table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th scope="col"># Netud</th>
                <th scope="col">Nom</th>
				<th scope="col">Prénom</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
		<tbody>
			{% for utilisateur in utilisateurs %}
				{% if utilisateur.demande %}
					<tr>
						<td>{{ utilisateur.netud }}</td>
						<td>{{ utilisateur.nom }}</td>
						<td>{{ utilisateur.prenom }}</td>
						<td>
							<a href="utilisateur_taiter.php?netud={{ utilisateur.netud }}&action=accepter" class="btn btn-success btn-sm">
								<i class="fa fa-check"></i> Accepter
							</a>
							<a href="utilisateur_taiter.php?netud={{ utilisateur.netud }}&action=refuser" class="btn btn-danger btn-sm">
								<i class="fa fa-times"></i> Refuser
							</a>
						</td>
					</tr>
				{% endif %}
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}