{% extends '_template/base.html.twig' %}

{% block css %}
<link rel="stylesheet" href="assets/css/accueil.css">
{% endblock %}

{% block body %}
<div class="most-popular">
    <div class="container" style="padding-top: 26vh;">
        <!-- Conteneur des événements à gauche -->
        <div class="event-container-left">
            <h2 class="section-title">Fil d'actualité :</h2>
            {% set trie_evenements = evenements|sort((a, b) => b.dateEvent <=> a.dateEvent) %}
            {% for evenement in trie_evenements %}
                <div class="event-card">
                    <!-- Image de l'événement -->
                    <img src="assets/images/evenements/{{ evenement.imgevent }}"
                        alt="{{ evenement.nomEvent }}"
                        class="event-image">
                    <a href="evenement_detail.php?id={{ evenement.idEvent }}" class="event-link">
                        <div class="event-content">
                            <h5 class="event-title">{{ evenement.nomEvent }}</h5>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>

        <!-- Conteneur des événements à droite -->
        <div class="event-container-right">
            <h2 class="section-title">Évènements à venir :</h2>
            {% set trie_evenements = evenements|sort((a, b) => b.dateEvent <=> a.dateEvent) %}
            {% for evenement in trie_evenements %}
                <div class="event-card">
                    <!-- Image de l'événement -->
                    <img src="assets/images/evenements/{{ evenement.imgevent }}"
                        alt="{{ evenement.nomEvent }}"
                        class="event-image">
                    <a href="evenement_detail.php?id={{ evenement.idEvent }}" class="event-link">
                        <div class="event-content">
                            <h5 class="event-title">{{ evenement.nomEvent }}</h5>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="assets/js/accueil.js"></script>
{% endblock %}
